// to install sass:  npm install sass
// create varaiables with sass
$background-color: lightgray;
$text-color: purple;

@mixin theme($background: pink){
  background-color: $background;
  color: $text-color;
}

article {
  border: 1px solid black;
  width: 50%;
  margin: auto;
  margin-top: 25px;

  // child element rules can be nested inside parent rules to maintain specificity
  h3 {
    // alternate mixin with rules for background-color and color
    // note the use of @include
    // @include theme(gray); 
    background-color: lightcyan;
    border-radius: 1vw;
    color: blue;
    margin: auto;
    margin-top: 1vw;
    padding: 1vw;
    width: max-content;
  }

  p {
    @include theme;
    margin: auto;
    margin-top: 1vw;
    margin-bottom: 1vw;
    padding: 1vw;
    width: 50%;

  }
}
