article {
  border: 1px solid black;
  width: 50%;
  margin: auto;
  margin-top: 25px;
}

article > h3 {
  background-color: lightgray;
  border-radius: 1vw;
  color: purple;
  margin: auto;
  margin-top: 1vw;
  padding: 1vw;
  width: max-content;
}

article > p {
  width: 50%;
  margin: auto;
  margin-top: 1vw;
  margin-bottom: 1vw;
}
